In [1]:
import numpy as np
import pandas as pd

In [3]:
review = pd.read_csv('data/reviews.csv')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
Phoenix = pd.read_csv('data/Phoenix_reviews.csv')

In [5]:
def generate_rest_txt(business_id):
    rest = Phoenix.loc[Phoenix['business_id'] == business_id]
    df = rest[['text']].copy()
    file_path = 'src/restaurant_reviews/' + rest.name.values[0]+'.txt'
    df.to_csv(file_path, header=None, index=None, sep=',', mode='a')
    return

In [6]:
Phoenix.head(5)

,Unnamed: 0,name,business_id,city,categories,review_id,text,stars
0,0,Wetzel's Pretzels,vjTVxnsQEZ34XjYNS-XUpA,Phoenix,"Food, Pretzels, Bakeries, Fast Food, Restaurants",LyxX4jQXCj6p7ood9Y_ung,Love Wetzel's pretzels! I always get them when...,5.0
1,1,Wetzel's Pretzels,vjTVxnsQEZ34XjYNS-XUpA,Phoenix,"Food, Pretzels, Bakeries, Fast Food, Restaurants",WqQkmdfkcvQZNGpI6Xzfow,Wetzels's Pretzels is definitely amazing and v...,5.0
2,2,Wetzel's Pretzels,vjTVxnsQEZ34XjYNS-XUpA,Phoenix,"Food, Pretzels, Bakeries, Fast Food, Restaurants",lJsEaUqx_iS-IsPD3SHWlg,I love Wetzel's Pretzels. And I can't imagine ...,5.0
3,3,Wetzel's Pretzels,vjTVxnsQEZ34XjYNS-XUpA,Phoenix,"Food, Pretzels, Bakeries, Fast Food, Restaurants",PfyDflR_hCtMsqR19KkNsg,"Never heard of the cheese meltdown pretzel, bu...",4.0
4,4,Wetzel's Pretzels,vjTVxnsQEZ34XjYNS-XUpA,Phoenix,"Food, Pretzels, Bakeries, Fast Food, Restaurants",RcsBd87ZxdI6h9A-E80X1A,"PV Mall's food court needs updating, but that ...",4.0

In [7]:
for i in Phoenix.business_id.value_counts().index[:5].values:
    generate_rest_txt(i)

In [8]:
pd.read_csv('src/restaurant_reviews//Snooze, An A.M. Eatery.txt', sep=",", header=None)

                                                      0
0     Cute place. 30 minute wait, but I was solo so ...
1     Retro meets modern twist on breakfast...where ...
2     James is the guy to get as your server when yo...
3     Three of us headed for Sunday breakfast after ...
4     Solid food. I got half and half if bella bella...
...                                                 ...
3603  Breakfast here is so refreshing and unique.  I...
3604  On our arrival, the parking lot was crazy full...
3605  This was a surprise find and glad to have this...
3606  Who doesn't love a breakfast cocktail!? Menu i...
3607  The place doesn't have an hour wait because th...

[3608 rows x 1 columns]

In [9]:
Phoenix.business_id.value_counts()

utIA0LyQmwP-9DRyxUe6qQ    3608
VyVIneSU7XAWgMBllI6LnQ    3453
pSQFynH1VxkfSmehRXlZWw    2575
yNPh5SO-7wr8HPpVCDPbXQ    2399
Xg5qEQiB-7L6kGJ5F4K3bQ    2387
                          ...
RJETnHYxNV_2iPWDesBFRA       3
l1104J5-U2nGGcuiG5xadQ       3
JNG9jHOlE4Ilv02Tnlh7YA       3
F53MSa5SYzO9BG8c_JhskQ       3
lM406tzHK0HlKtyQxz85EA       3
Name: business_id, Length: 4217, dtype: int64

In [4]:
review.user_id.value_counts()

CxDOIDnH8gp9KXzpBHJYXw    4331
bLbSNkLggFnqwNNzzq-Ijw    2555
ELcQDlf69kb-ihJfxZyL0A    2039
PKEzKWv_FktMm2mGPjwd0Q    1972
DK57YibC5ShBmqQl97CKog    1817
                          ...
SAAtqICHgApForG2PMZLKA       1
Eo9mFOrBox_CTbz256V_Qw       1
Gpxxn0lCH3ob8Bn453OrIQ       1
LB1NKYxQG-SJt1fde2AbdQ       1
mZzT2M4NuC6u6DjB6IJJjg       1
Name: user_id, Length: 1968703, dtype: int64

In [10]:
def generate_user_txt(user_id):
    user = review.loc[review['user_id'] == user_id]
    df = user[['text']].copy()
    file_path = 'src/user_reviews/first.txt'
    df.to_csv(file_path, header=None, index=None, sep=',', mode='a')
    return

In [11]:
generate_user_txt('CxDOIDnH8gp9KXzpBHJYXw')